link(rel="import" href="../../../bower_components/polymer/polymer.html")
link(rel="import" href="../../../bower_components/paper-tabs/paper-tabs.html")
link(rel="import" href="../../../bower_components/iron-pages/iron-pages.html")
link(rel="import" href="../../../bower_components/iron-icons/iron-icons.html")
link(rel="import" href="../../../bower_components/iron-icons/image-icons.html")
link(rel="import" href="../../../bower_components/iron-icons/social-icons.html")
link(rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html")
link(rel="import" href="../../../bower_components/iron-selector/iron-selector.html")

dom-module(id="stage-questions")
  template
    style
    section(class="sources")
    section(class="workarea")
    section(class="tools")
  
  script
    Polymer({

      is: 'stage-questions'

    })
